.news_bl {
    padding: 12px 28px 48px 28px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    &__top {
        padding-bottom: 12px;
        margin-bottom: 24px;
        border-bottom: 1px solid #E8E8E8;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__date {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #B6B6C6;
        margin-right: auto;
        order: 1;
    }
    &__info {
        display: flex;
        align-items: center;
        order: 2;
    }
    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__name {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #131313;
        padding-left: 12px;
    }
    &__follow {
        order: 3;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #B6B6C6;
        position: relative;
        padding-left: 26px;
        text-decoration: none;
        margin-left: 80px;
        &:before {
            content: '';
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 10.689V12.2565C9.82119 12.0165 9.09471 11.9429 8.38155 12.0418C7.6684 12.1408 6.9894 12.4094 6.40157 12.8252C5.81375 13.2409 5.33426 13.7916 5.00337 14.4311C4.67249 15.0705 4.49986 15.78 4.5 16.5L3 16.4993C2.99977 15.5834 3.20919 14.6797 3.61222 13.8573C4.01526 13.0349 4.6012 12.3157 5.32516 11.7548C6.04912 11.1939 6.89188 10.8061 7.78887 10.6212C8.68585 10.4364 9.61325 10.4593 10.5 10.6883V10.689ZM9 9.75C6.51375 9.75 4.5 7.73625 4.5 5.25C4.5 2.76375 6.51375 0.75 9 0.75C11.4862 0.75 13.5 2.76375 13.5 5.25C13.5 7.73625 11.4862 9.75 9 9.75ZM9 8.25C10.6575 8.25 12 6.9075 12 5.25C12 3.5925 10.6575 2.25 9 2.25C7.3425 2.25 6 3.5925 6 5.25C6 6.9075 7.3425 8.25 9 8.25ZM13.5 12.75V10.5H15V12.75H17.25V14.25H15V16.5H13.5V14.25H11.25V12.75H13.5Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat;
            position: absolute;
        }
    }
}
.red_bl {
    display: flex;
    margin-bottom: 32px;
    &__l-side {
        width: 42%;
        margin-right: 40px;
        border-radius: 10px;
        overflow: hidden;
        font-size: 0;
    }
    &__r-side {
        width: calc(100% - 42% - 40px);
    }
    &__title {
        margin: 0;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        color: #131313;
        margin-bottom: 12px;
    }
    &__text {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #131313;
    }
    &__txt {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #131313;
        margin-bottom: 32px;
    }
}
.news_bl_photos {
    padding-bottom: 77px;
    &__title {
        margin-bottom: 24px;
        position: relative;
        span {
            padding-right: 24px;
            display: inline-block;
            background: #fff;
            font-family: 'HeliosC', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #131313;
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            height: 1px;
            width: 100%;
            left: 0;
            right: 0;
            background: #E8E8E8;
            margin-top: 2px;
        }
    }
    &__blocks {
        .slick-slide {
            &:not(:last-child) {
                > div {
                    margin-right: 32px;
                }
            }
        }
        .slick-prev {
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.828 12L15.778 16.95L14.364 18.364L8 12L14.364 5.63599L15.778 7.04999L10.828 12Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #131313;
            box-shadow: unset;
            top: unset;
            bottom: -78px;
            left: 0px;
            transform: unset;
            &:before {
                display: none;
            }
            &.slick-disabled {
                border-color: #E8E8E8;
                pointer-events: none;
            }
        }
        .slick-next {
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1719 12L8.22192 7.04999L9.63592 5.63599L15.9999 12L9.63592 18.364L8.22192 16.95L13.1719 12Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #131313;
            box-shadow: unset;
            top: unset;
            bottom: -78px;
            left: 58px;
            transform: unset;
            transition: all .3s ease-out;
            &:before {
                display: none;
            }
            &.slick-disabled {
                border-color: #E8E8E8;
                pointer-events: none;
            }
        }
        .slick-dots {
            position: absolute;
            right: 0;
            bottom: -60px;
            left: unset;
            top: unset;
            width: max-content;
            li {
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
                button {
                    margin: 0;
                    padding: 0;
                    box-shadow: none;
                    font-size: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-left: 15px;
                    transition: all .3s ease-out;
                    &:before {
                        display: none;
                    }
                    background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
                &.slick-active {
                    button {
                        background: url('../img/dot.png') 50% no-repeat;
                    }
                }
            }
        }
    }
    &__block {
        font-size: 0;
        border-radius: 10px;
        overflow: hidden;
        max-width: 303px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.news_bl_video {
    padding-bottom: 16px;
    overflow: hidden;
    &__title {
        margin-bottom: 24px;
        position: relative;
        span {
            padding-right: 24px;
            display: inline-block;
            background: #fff;
            font-family: 'HeliosC', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #131313;
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            height: 1px;
            width: 100%;
            left: 0;
            right: 0;
            background: #E8E8E8;
            margin-top: 2px;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;
    }
    &__block {
        width: calc(50% - 99px);
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
        border-radius: 10px;
        overflow: hidden;
        video {
            width: 100%;
            height: 100%;
        }
    }
}
.news_bl_docs {
    margin-left: -28px;
    margin-right: -28px;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        background: #F7FAFB;
        &:not(:last-child) {
            border-bottom: 1px solid #E8E8E8;
        }
        img {
            width: 21px;
            margin-right: 16px;
        }
    }
    &__info {
        margin-right: auto;
    }
    &__name {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #131313;
        margin-bottom: 4px;
    }
    &__opt {
        display: flex;
        align-items: center;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: #9797A5;
    }
    &__size {
        margin-right: 10px;
    }
    &__download {
        width: 24px;
        height: 24px;
        margin-bottom: auto;
        background: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17H18V19H0V17ZM10 11.172L16.071 5.1L17.485 6.514L9 15L0.515 6.515L1.929 5.1L8 11.17V0H10V11.172Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat;
        font-size: 0;
        display: block;
    }
}
.news_bl_admin {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__flag {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #F7F7F7;
        background: #00B0DE;
        border-radius: 10px;
        padding: 4px 12px;
    }
    &__write {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #B6B6C6;
        text-decoration: none;
        position: relative;
        padding-left: 32px;
        &:before {
            content: '';
            top: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            left: 0;
            position: absolute;
            background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 16H3.414L12.728 6.68596L11.314 5.27196L2 14.586V16ZM18 18H0V13.757L13.435 0.321961C13.6225 0.13449 13.8768 0.0291748 14.142 0.0291748C14.4072 0.0291748 14.6615 0.13449 14.849 0.321961L17.678 3.15096C17.8655 3.33849 17.9708 3.5928 17.9708 3.85796C17.9708 4.12313 17.8655 4.37743 17.678 4.56496L6.243 16H18V18ZM12.728 3.85796L14.142 5.27196L15.556 3.85796L14.142 2.44396L12.728 3.85796Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
}
.isTablet, .isMobile {
    .news_bl {
        padding: 0;
        &__top {
            border-top: 1px solid #E8E8E8;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 16px;
        }
        &__follow {
            padding-left: 0;
            padding-right: 26px;
            &:before {
                left: unset;
                right: 0;
            }
        }
    }
    .red_bl {
        flex-direction: column;
        .news_bl__info {
            order: 1;
            margin-bottom: 20px;
        }
        &__l-side {
            order: 3;
            width: 100%;
            margin-right: 0;
        }
        &__r-side {
            order: 2;
            width: 100%;
        }
        &__title {
            font-size: 26px;
            margin-bottom: 12px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__txt {
            font-size: 14px;
        }
    }
    .news_bl_photos {
        padding-bottom: 56px;
        &__title {
            display: none;
        }
        &__blocks {
            .slick-slide {
                &:not(:last-child) {
                    > div {
                        @media all and (max-width: 360px) {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        &__block {
            width: 100%;
        }
        .slick-dotted.slick-slider {
            margin-bottom: 0;
        }
        .slick-dots {
            width: 100%;
            bottom: -24px;
            li {
                button {
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
        }
    }
    .news_bl_video {
        padding-bottom: 12px;
        &__title {
            display: none;
        }
        &__blocks {
            margin-left: -10px;
            margin-right: -10px;
        }
        &__block {
            width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .news_bl_docs {
        margin-left: -20px;
        margin-right: -20px;
        &__title {
            font-size: 14px;
            margin-bottom: 2px;
        }
        &__opt {
            font-size: 14px;
        }
    }
    .news_bl_admin {
        margin-top: 32px;
        flex-direction: column;
        align-items: flex-start;
        &__flag {
            margin-bottom: 32px;
        }
        &__write {
            font-family: 'HeliosC', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #F7F7F7;
            background: #006FAB;
            border-radius: 10px;
            padding: 15px 10px;
            width: 100%;
            margin-top: 32px;
            &:before {
                display: none;
            }
            &:after {
                content: '';
                top: -32px;
                left: -20px;
                right: -20px;
                width: calc(100% + 40px);
                position: absolute;
                height: 1px;
                background: #E8E8E8;
            }
        }
    }
}
.isMobile {
    .news_bl_video {
        &__block {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__blocks {
            margin-left: 0;
            margin-right: 0;
        }
    }
}