$white: #fff;
$lightBlue: #F7FAFB;
$darkGrey: #9797A5;
$standardGrey: #B6B6C6;
$darkBlue: #006FAB;
$standardBlue: #00B0DE;
$black: #131313;
$red: #FD542F;
$mediumBlue: #E3F3F8;
$standardGrey: #B6B6C6;