.owf_block {
    &:before {
        content: '';
        position: absolute;
        background: #131313;
        opacity: 0.25;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transition: all 0.3s ease-out;
        opacity: 0;
        z-index: 10;
        visibility: hidden;
    }
    &.isActive {
        &:before {
            opacity: 0.25;
            visibility: visible;
        }
    }
}
.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 60px rgba(0, 111, 171, 0.2);
    margin-bottom: 52px;
    position: relative;
    z-index: 30;
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    &__in {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        margin-left: auto;
        margin-right: auto;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
    }
    &__logo_m {
        display: none;
    }
}
.burger {
    max-width: 300px;
    width: 100%;
    &__icon {
        width: 60px;
        height: 60px;
        transition: all .3s ease-out;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 30H52.5' stroke='%23131313' stroke-width='5' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M7.5 15H52.5' stroke='%23131313' stroke-width='5' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M7.5 45H52.5' stroke='%23131313' stroke-width='5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
        &.isActive {
            display: none;
        }
    }
    &__close {
        display: none;
        width: 60px;
        height: 60px;
        transition: all .3s ease-out;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0001 26.4648L42.3751 14.0898L45.9101 17.6248L33.5351 29.9998L45.9101 42.3748L42.3751 45.9098L30.0001 33.5348L17.6251 45.9098L14.0901 42.3748L26.4651 29.9998L14.0901 17.6248L17.6251 14.0898L30.0001 26.4648Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50%  / 100% no-repeat;
        &.isActive {
            display: block;
        }
    }
    &__body {
        background: #F7F7F7;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        transition: all .3s ease-out;
        transform: translateX(-100%);
        &.isActive {
            transform: translateX(0);
        }
    }
    &__in {
        display: flex;  
        padding-top: 65px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 30px);
            left: 15px;
            right: 0;
            top: 100px;
            background: #E8E8E8;
            height: 1px;
        }
    }
    &__item {
        max-width: 250px;
        width: 100%;
        margin-right: 5px;
    }
    &__menu {
        max-width: 200px;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
                a {
                    display: inline-block;
                    font-family: 'HeliosC', serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    color: #006FAB;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:not(:last-child) {
                    a { 
                        margin-bottom: 28px;
                    }
                }
                &.hasChild {
                    > a {
                        padding-bottom: 16px;
                        margin-bottom: 32px;
                        font-family: 'HeliosC', serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 140%;
                        text-transform: uppercase;
                        color: #B6B6C6;
                    }
                }
            }
        }
    }
}
.user_h {
    width: 100%;
    max-width: 208px;
    position: relative;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 32px;
        cursor: pointer;
        position: relative;
        &:before {
            width: 24px;
            height: 24px;
            margin-top: -12px;
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 13.1722L16.9502 8.22217L18.3642 9.63617L12.0002 16.0002L5.63623 9.63617L7.05023 8.22217L12.0002 13.1722Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
    }
    &__name {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #131313;
        margin-right: 5px;
    }
    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        position: absolute;
        width: 250px;
        right: -10px;
        top: calc(100% + 29px);
        background: #FFFFFF;
        border: 1px solid #00B0DE;
        border-radius: 10px;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s ease-out;
    }
    &__link {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-decoration: none;
        color: #131313;
        &:not(:last-child) {
            border-bottom: 1px solid #E8E8E8;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &.isActive {
        .user_h__body {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
        .user_h__icon {
            &:before {
                transform: rotate(180deg);
            }
        }
    }
}
.alert_h {
    margin-left: 32px;
    flex: 0 0 60px;
    &__icon {
        width: 60px;
        cursor: pointer;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #F7F7F7;
        background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3332 26.6665H2.6665V23.9998H3.99984V14.7078C3.99984 8.05717 9.37317 2.6665 15.9998 2.6665C22.6265 2.6665 27.9998 8.05717 27.9998 14.7078V23.9998H29.3332V26.6665ZM6.6665 23.9998H25.3332V14.7078C25.3332 9.5305 21.1545 5.33317 15.9998 5.33317C10.8452 5.33317 6.6665 9.5305 6.6665 14.7078V23.9998ZM12.6665 27.9998H19.3332C19.3332 28.8839 18.982 29.7317 18.3569 30.3569C17.7317 30.982 16.8839 31.3332 15.9998 31.3332C15.1158 31.3332 14.2679 30.982 13.6428 30.3569C13.0177 29.7317 12.6665 28.8839 12.6665 27.9998Z' fill='%23131313'/%3E%3Crect x='19' y='1' width='12' height='12' rx='6' fill='%2334A853'/%3E%3Crect x='19' y='1' width='12' height='12' rx='6' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &__body {

    }
}
.search_h {
    display: none;
}
.isTablet, .isMobile {
    .header {
        margin-bottom: 28px;
        &__in {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        &__logo {
            display: none;
        }
        &__logo_m {
            display: block;
            margin-right: 28px;
            max-width: 24px;
            width: 100%;
        }
    }
    .burger {
        order: 1;
        max-width: 32px;
        &__icon {
            width: 32px;
            height: 32px;
        }
        &__close {
            width: 32px;
            height: 32px;
        }
        &__item {
            max-width: 100%;
            &:not(:first-child) {
                ul {
                    li {
                        &.hasChild {
                            > a {
                                border-top: 1px solid #E8E8E8;
                            }
                        }
                    }
                }
            }
            ul {
                li {
                    &.hasChild.isActive {
                        > a {
                            span {
                                transform: rotate(180deg);
                            }
                        }
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
        &__menu {
            max-width: 100%;
            margin-right: 0;
            ul {
                li {
                    width: 100%;
                    a {

                    }
                    &.hasChild {
                        > a {
                            position: relative;
                            padding-top: 17px;
                            padding-bottom: 17px;
                            padding-left: 20px;
                            padding-right: 60px;
                            margin-bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 130%;
                            color: #006FAB;
                            text-transform: inherit;
                            border-top: 1px solid transparent;
                            border-bottom: 1px solid #E8E8E8;
                            span {
                                width: 24px;
                                height: 24px;
                                display: block;
                                right: 20px;
                                position: absolute;
                                top: 50%;
                                transition: all .3s ease-out;
                                margin-top: -12px;
                                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 13.1722L16.9502 8.22217L18.3642 9.63617L12.0002 16.0002L5.63623 9.63617L7.05023 8.22217L12.0002 13.1722Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
                            }
                        }
                    }
                    ul {
                        margin-top: 12px;
                        margin-bottom: 16px;
                        display: none;
                        li {
                            border: 0;
                            width: 100%;
                            a {
                                font-style: normal;
                                width: 100%;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 130%;
                                color: #131313;
                                padding: 16px 20px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        &__in {
            flex-direction: column;
            padding-top: 25px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 48px;
            &:before {
                display: none;
            }
        }
        &__body {
            height: calc(100vh - 72px);
        }
    }
    .user_h {
        max-width: 40px;
        order: 4;
        position: unset;
        &__icon {
            width: 40px;
            height: 40px;
            padding: 0;
            &:before {
                display: none;
            }
        }
        &__name {
            display: none;
        }
        &__avatar {
            width: 40px;
            height: 40px;
        }
        &__body {
            border-radius: 0;
            border: 0;
            width: calc(100% - 80px);
            right: unset;
            top: 100%;
            left: -100%;
            padding: 0;
            padding-top: 16px;
            height: 100vh;
        }
        &__link {
            border: 0 !important;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            color: #006FAB;
            padding: 16px 20px;
        }
    }
    .header.isActive {
        .user_h {
            &__body {
                box-shadow: inset 0px 4px 60px rgba(0, 111, 171, 0.2);
                left: 0;
            }
        }
    }
    .alert_h {
        order: 2;
        flex: none;
        margin-left: 28px;
        &__icon {
            width: 32px;
            height: 32px;
            border: 0;
            border-radius: 0;
        }
    }
    .search_h {
        display: block;
        order: 3;
        margin-left: 28px;
        margin-right: auto;
        &__icon {
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0412 20.1561L27.7518 25.8654L25.8652 27.7521L20.1558 22.0414C18.0315 23.7444 15.3892 24.6706 12.6665 24.6667C6.0425 24.6667 0.666504 19.2907 0.666504 12.6667C0.666504 6.04275 6.0425 0.666748 12.6665 0.666748C19.2905 0.666748 24.6665 6.04275 24.6665 12.6667C24.6704 15.3894 23.7441 18.0317 22.0412 20.1561ZM19.3665 19.1667C21.0587 17.4266 22.0037 15.094 21.9998 12.6667C21.9998 7.50941 17.8225 3.33341 12.6665 3.33341C7.50917 3.33341 3.33317 7.50941 3.33317 12.6667C3.33317 17.8227 7.50917 22.0001 12.6665 22.0001C15.0937 22.0039 17.4264 21.0589 19.1665 19.3667L19.3665 19.1667Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        &__body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 20px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 111, 171, 0.2);
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            transition: all .3s ease-out;
            height: 72px;
            &.isActive {
                left: 0;
            }
        }
        &__close {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            margin-right: 12px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.828 7.00023L7.778 11.9502L6.364 13.3642L0 7.00023L6.364 0.63623L7.778 2.05023L2.828 7.00023Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        &__search {
            width: 100%;
            input[type="search"] {
                padding: 13px 20px;
                background: #F7FAFB;
                border: 1px solid #E3F3F8;
                border-radius: 10px;
                font-family: 'HeliosC', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                width: 100%;
                line-height: 140%;
                letter-spacing: 0.01em;
                color: #000;
                padding-right: 35px;
                &::placeholder {
                    color: #B6B6C6;
                }
                &::-webkit-search-cancel-button {
                    width: 13px;
                    cursor: pointer;
                    height: 13px;
                    background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99974 5.58623L11.9497 0.63623L13.3637 2.05023L8.41374 7.00023L13.3637 11.9502L11.9497 13.3642L6.99974 8.41423L2.04974 13.3642L0.635742 11.9502L5.58574 7.00023L0.635742 2.05023L2.04974 0.63623L6.99974 5.58623Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat !important;
                    position: absolute;  
                    right: 18px;
                    top: 50%;
                    margin-top: -6.5px;
                }
            }
        }
    }
}