.vacan-m_bl {
    &__blocks {
        margin-bottom: 32px;
    }
    &__block {
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        text-decoration: none;
        display: block;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &__date {
        background: #00B0DE url("data:image/svg+xml,%3Csvg width='79' height='45' viewBox='0 0 79 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.8999 38.5715L7.8999 45L15.7999 45L15.7999 38.5715L7.8999 38.5715Z' fill='%231878BE'/%3E%3Cpath d='M7.8999 32.1427L7.8999 38.5713L15.7999 38.5713L15.7999 32.1427L7.8999 32.1427Z' fill='%231878BE'/%3E%3Cpath d='M7.8999 19.2854L7.8999 25.7139L15.7999 25.7139L15.7999 19.2854L7.8999 19.2854Z' fill='%231878BE'/%3E%3Cpath d='M7.8999 0.000101089L7.8999 6.42871L15.7999 6.42871L15.7999 0.000100656L7.8999 0.000101089Z' fill='%2300B0DE'/%3E%3Cpath d='M7.8999 12.8575L7.8999 19.2861L15.7999 19.2861L15.7999 12.8575L7.8999 12.8575Z' fill='%231878BE'/%3E%3Cpath d='M7.8999 6.42897L7.8999 12.8574L15.7999 12.8574L15.7999 6.42897L7.8999 6.42897Z' fill='%231878BE'/%3E%3Cpath d='M7.8999 25.714L7.8999 32.1426L15.7999 32.1426L15.7999 25.714L7.8999 25.714Z' fill='%232D4E9E'/%3E%3Cpath d='M15.7998 38.5715L15.7998 45L23.6999 45L23.6999 38.5715L15.7998 38.5715Z' fill='%231878BE'/%3E%3Cpath d='M15.7998 32.1427L15.7998 38.5713L23.6999 38.5713L23.6999 32.1427L15.7998 32.1427Z' fill='%2300B0DE'/%3E%3Cpath d='M15.7998 19.2854L15.7998 25.7139L23.6999 25.7139L23.6999 19.2854L15.7998 19.2854Z' fill='%232D4E9E'/%3E%3Cpath d='M15.7998 0.000101089L15.7998 6.42871L23.6999 6.42871L23.6999 0.000100656L15.7998 0.000101089Z' fill='%231878BE'/%3E%3Cpath d='M15.7998 12.8575L15.7998 19.2861L23.6999 19.2861L23.6999 12.8575L15.7998 12.8575Z' fill='%2300B0DE'/%3E%3Cpath d='M15.7998 6.42897L15.7998 12.8574L23.6999 12.8574L23.6999 6.42897L15.7998 6.42897Z' fill='%231878BE'/%3E%3Cpath d='M15.7998 25.714L15.7998 32.1426L23.6999 32.1426L23.6999 25.714L15.7998 25.714Z' fill='%231878BE'/%3E%3Cpath d='M23.7002 38.5715L23.7002 45L31.6003 45L31.6003 38.5715L23.7002 38.5715Z' fill='%2300B0DE'/%3E%3Cpath d='M23.7002 32.1427L23.7002 38.5713L31.6003 38.5713L31.6003 32.1427L23.7002 32.1427Z' fill='%231878BE'/%3E%3Cpath d='M23.7002 19.2854L23.7002 25.7139L31.6003 25.7139L31.6003 19.2854L23.7002 19.2854Z' fill='%2300B0DE'/%3E%3Cpath d='M23.7002 0.000101089L23.7002 6.42871L31.6003 6.42871L31.6003 0.000100656L23.7002 0.000101089Z' fill='%2300B0DE'/%3E%3Cpath d='M23.7002 12.8575L23.7002 19.2861L31.6003 19.2861L31.6003 12.8575L23.7002 12.8575Z' fill='%231878BE'/%3E%3Cpath d='M23.7002 6.42897L23.7002 12.8574L31.6003 12.8574L31.6003 6.42897L23.7002 6.42897Z' fill='%231878BE'/%3E%3Cpath d='M23.7002 25.714L23.7002 32.1426L31.6003 32.1426L31.6003 25.714L23.7002 25.714Z' fill='%232D4E9E'/%3E%3Cpath d='M-2.80739e-07 38.5715L0 45L7.9001 45L7.9001 38.5715L-2.80739e-07 38.5715Z' fill='%2300B0DE'/%3E%3Cpath d='M-2.80746e-07 32.1427L0 38.5713L7.9001 38.5713L7.9001 32.1427L-2.80746e-07 32.1427Z' fill='%2300B0DE'/%3E%3Cpath d='M-2.80739e-07 19.2854L0 25.7139L7.9001 25.7139L7.9001 19.2854L-2.80739e-07 19.2854Z' fill='%2300B0DE'/%3E%3Cpath d='M-2.80746e-07 0.000101089L0 6.42871L7.9001 6.42871L7.9001 0.000100744L-2.80746e-07 0.000101089Z' fill='%2300B0DE'/%3E%3Cpath d='M-2.80746e-07 12.8575L0 19.2861L7.9001 19.2861L7.9001 12.8575L-2.80746e-07 12.8575Z' fill='%231878BE'/%3E%3Cpath d='M-2.80739e-07 6.42897L0 12.8574L7.9001 12.8574L7.9001 6.42897L-2.80739e-07 6.42897Z' fill='%2300B0DE'/%3E%3Cpath d='M-2.80746e-07 25.714L0 32.1426L7.9001 32.1426L7.9001 25.714L-2.80746e-07 25.714Z' fill='%231878BE'/%3E%3Cpath d='M31.6001 38.5715L31.6001 45L39.5001 45L39.5001 38.5715L31.6001 38.5715Z' fill='%231878BE'/%3E%3Cpath d='M31.6001 32.1427L31.6001 38.5713L39.5001 38.5713L39.5001 32.1427L31.6001 32.1427Z' fill='%232D4E9E'/%3E%3Cpath d='M31.6001 19.2854L31.6001 25.7139L39.5001 25.7139L39.5001 19.2854L31.6001 19.2854Z' fill='%231878BE'/%3E%3Cpath d='M31.6001 0.000101089L31.6001 6.42871L39.5001 6.42871L39.5001 0.000100656L31.6001 0.000101089Z' fill='%231878BE'/%3E%3Cpath d='M31.6001 12.8575L31.6001 19.2861L39.5001 19.2861L39.5001 12.8575L31.6001 12.8575Z' fill='%232D4E9E'/%3E%3Cpath d='M31.6001 6.42897L31.6001 12.8574L39.5001 12.8574L39.5001 6.42897L31.6001 6.42897Z' fill='%2300B0DE'/%3E%3Cpath d='M31.6001 25.714L31.6001 32.1426L39.5001 32.1426L39.5001 25.714L31.6001 25.714Z' fill='%2300B0DE'/%3E%3Cpath d='M39.5 38.5715L39.5 45L47.4001 45L47.4001 38.5715L39.5 38.5715Z' fill='%232D4E9E'/%3E%3Cpath d='M39.5 32.1427L39.5 38.5713L47.4001 38.5713L47.4001 32.1427L39.5 32.1427Z' fill='%231878BE'/%3E%3Cpath d='M39.5 19.2854L39.5 25.7139L47.4001 25.7139L47.4001 19.2854L39.5 19.2854Z' fill='%231878BE'/%3E%3Cpath d='M39.5 0.000101089L39.5 6.42871L47.4001 6.42871L47.4001 0.000100656L39.5 0.000101089Z' fill='%2300B0DE'/%3E%3Cpath d='M39.5 12.8575L39.5 19.2861L47.4001 19.2861L47.4001 12.8575L39.5 12.8575Z' fill='%231878BE'/%3E%3Cpath d='M39.5 6.42897L39.5 12.8574L47.4001 12.8574L47.4001 6.42897L39.5 6.42897Z' fill='%232D4E9E'/%3E%3Cpath d='M39.5 25.714L39.5 32.1426L47.4001 32.1426L47.4001 25.714L39.5 25.714Z' fill='%232D4E9E'/%3E%3Cpath d='M47.3999 38.5715L47.3999 45L55.3 45L55.3 38.5715L47.3999 38.5715Z' fill='%231878BE'/%3E%3Cpath d='M47.3999 32.1427L47.3999 38.5713L55.3 38.5713L55.3 32.1427L47.3999 32.1427Z' fill='%232D4E9E'/%3E%3Cpath d='M47.3999 19.2854L47.3999 25.7139L55.3 25.7139L55.3 19.2854L47.3999 19.2854Z' fill='%231B326D'/%3E%3Cpath d='M47.3999 0.000101089L47.3999 6.42871L55.3 6.42871L55.3 0.000100656L47.3999 0.000101089Z' fill='%232D4E9E'/%3E%3Cpath d='M47.3999 12.8575L47.3999 19.2861L55.3 19.2861L55.3 12.8575L47.3999 12.8575Z' fill='%232D4E9E'/%3E%3Cpath d='M47.3999 6.42897L47.3999 12.8574L55.3 12.8574L55.3 6.42897L47.3999 6.42897Z' fill='%231878BE'/%3E%3Cpath d='M47.3999 25.714L47.3999 32.1426L55.3 32.1426L55.3 25.714L47.3999 25.714Z' fill='%231878BE'/%3E%3Cpath d='M55.2998 38.5715L55.2998 45L63.1999 45L63.1999 38.5715L55.2998 38.5715Z' fill='%232D4E9E'/%3E%3Cpath d='M55.2998 32.1427L55.2998 38.5713L63.1999 38.5713L63.1999 32.1427L55.2998 32.1427Z' fill='%231878BE'/%3E%3Cpath d='M55.2998 19.2854L55.2998 25.7139L63.1999 25.7139L63.1999 19.2854L55.2998 19.2854Z' fill='%232D4E9E'/%3E%3Cpath d='M55.2998 0.000101089L55.2998 6.42871L63.1999 6.42871L63.1999 0.000100656L55.2998 0.000101089Z' fill='%231B326D'/%3E%3Cpath d='M55.2998 12.8575L55.2998 19.2861L63.1999 19.2861L63.1999 12.8575L55.2998 12.8575Z' fill='%231878BE'/%3E%3Cpath d='M55.2998 6.42897L55.2998 12.8574L63.1999 12.8574L63.1999 6.42897L55.2998 6.42897Z' fill='%232D4E9E'/%3E%3Cpath d='M55.2998 25.714L55.2998 32.1426L63.1999 32.1426L63.1999 25.714L55.2998 25.714Z' fill='%232D4E9E'/%3E%3Cpath d='M63.1997 38.5715L63.1997 45L71.0997 45L71.0997 38.5715L63.1997 38.5715Z' fill='%232D4E9E'/%3E%3Cpath d='M63.1997 32.1427L63.1997 38.5713L71.0997 38.5713L71.0997 32.1427L63.1997 32.1427Z' fill='%232D4E9E'/%3E%3Cpath d='M63.1997 19.2854L63.1997 25.7139L71.0997 25.7139L71.0997 19.2854L63.1997 19.2854Z' fill='%231B326D'/%3E%3Cpath d='M63.1997 0.000101089L63.1997 6.42871L71.0997 6.42871L71.0997 0.000100656L63.1997 0.000101089Z' fill='%232D4E9E'/%3E%3Cpath d='M63.1997 12.8575L63.1997 19.2861L71.0997 19.2861L71.0997 12.8575L63.1997 12.8575Z' fill='%232D4E9E'/%3E%3Cpath d='M63.1997 6.42897L63.1997 12.8574L71.0997 12.8574L71.0997 6.42897L63.1997 6.42897Z' fill='%231B326D'/%3E%3Cpath d='M63.1997 25.714L63.1997 32.1426L71.0997 32.1426L71.0997 25.714L63.1997 25.714Z' fill='%232D4E9E'/%3E%3Cpath d='M71.1001 38.5715L71.1001 45L79.0002 45L79.0002 38.5715L71.1001 38.5715Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 32.1427L71.1001 38.5713L79.0002 38.5713L79.0002 32.1427L71.1001 32.1427Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 19.2854L71.1001 25.7139L79.0002 25.7139L79.0002 19.2854L71.1001 19.2854Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 0.000101089L71.1001 6.42871L79.0002 6.42871L79.0002 0.000100656L71.1001 0.000101089Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 12.8575L71.1001 19.2861L79.0002 19.2861L79.0002 12.8575L71.1001 12.8575Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 6.42897L71.1001 12.8574L79.0002 12.8574L79.0002 6.42897L71.1001 6.42897Z' fill='%231B326D'/%3E%3Cpath d='M71.1001 25.714L71.1001 32.1426L79.0002 32.1426L79.0002 25.714L71.1001 25.714Z' fill='%231B326D'/%3E%3C/svg%3E%0A") 100% 50% no-repeat;
        padding: 14px 28px;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: #F7F7F7;
    }
    &__bottom {
        padding: 28px;
    }
    &__title {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #131313;
    }
    &__info {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    &__price {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #131313;
        margin-right: 64px;
    }
    &__work {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #9797A5;
    }
}
.isTablet, .isMobile {
    .vacan-m_bl {
        &__date {
            padding: 14px 20px;
        }
        &__bottom {
            padding: 20px;
        }
        &__title {
            font-size: 18px;
        }
        &__info {
            margin-top: 12px;
            flex-direction: column;
            align-items: flex-start;
        }
        &__price {
            margin-right: 0;
            margin-bottom: 4px;
        }
    }
}