.aside_r {
    max-width: 22.6%;
    width: 100%;
    @media all and (max-width: 1330px) {
        display: none;
    }
}
.news_block {
    text-decoration: none;
    position: relative;
    height: 300px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 176, 222, 0.08);
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__flag {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #F7F7F7;
        padding: 4px 12px;
        background: #00B0DE;
        border-radius: 10px;
        position: relative;
        z-index: 2;
    }
    &__title {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #F7F7F7;
        position: relative;
        z-index: 2;
    }
}
.block_red {
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 176, 222, 0.08);
    border-radius: 10px;
    position: relative;
    font-size: 0;
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180.02deg, #012147 0.02%, rgba(1, 33, 71, 0.3) 41.15%);
        transform: rotate(-180deg);
        z-index: 2;
        pointer-events: none;
    }
    &__img {
        width: 100%;
        position: relative;
        z-index: 1;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__logo {
        position: absolute;
        bottom: 18px;
        left: 18px;
        z-index: 3;
    }
}