@font-face {
	font-family: "HeliosBlackC";
	font-display: swap;
	src: url("../fonts/HeliosBlackC.woff2") format("woff2"), url("../fonts/HeliosBlackC.woff") format("woff"), url("../fonts/HeliosBlackC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosCondBlackC";
	font-display: swap;
	src: url("../fonts/HeliosCondBlackC.woff2") format("woff2"), url("../fonts/HeliosCondBlackC.woff") format("woff"), url("../fonts/HeliosCondBlackC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosC";
	font-display: swap;
	src: url("../fonts/HeliosC-Bold.woff2") format("woff2"), url("../fonts/HeliosC-Bold.woff") format("woff"), url("../fonts/HeliosC-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "HeliosCompressedC";
	font-display: swap;
	src: url("../fonts/HeliosCompressedC.woff2") format("woff2"), url("../fonts/HeliosCompressedC.woff") format("woff"), url("../fonts/HeliosCompressedC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosCondC";
	font-display: swap;
	src: url("../fonts/HeliosCondC-Bold.woff2") format("woff2"), url("../fonts/HeliosCondC-Bold.woff") format("woff"), url("../fonts/HeliosCondC-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "HeliosC";
	font-display: swap;
	src: url("../fonts/HeliosC.woff2") format("woff2"), url("../fonts/HeliosC.woff") format("woff"), url("../fonts/HeliosC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosCondC";
	font-display: swap;
	src: url("../fonts/HeliosCondC.woff2") format("woff2"), url("../fonts/HeliosCondC.woff") format("woff"), url("../fonts/HeliosCondC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosCondLightC";
	font-display: swap;
	src: url("../fonts/HeliosCondLightC.woff2") format("woff2"), url("../fonts/HeliosCondLightC.woff") format("woff"), url("../fonts/HeliosCondLightC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosCondThinC";
	font-display: swap;
	src: url("../fonts/HeliosCondThinC.woff2") format("woff2"), url("../fonts/HeliosCondThinC.woff") format("woff"), url("../fonts/HeliosCondThinC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosExtBlackC";
	font-display: swap;
	src: url("../fonts/HeliosExtBlackC.woff2") format("woff2"), url("../fonts/HeliosExtBlackC.woff") format("woff"), url("../fonts/HeliosExtBlackC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosExtC";
	font-display: swap;
	src: url("../fonts/HeliosExtC-Bold.woff2") format("woff2"), url("../fonts/HeliosExtC-Bold.woff") format("woff"), url("../fonts/HeliosExtC-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "HeliosExtC";
	font-display: swap;
	src: url("../fonts/HeliosExtC.woff2") format("woff2"), url("../fonts/HeliosExtC.woff") format("woff"), url("../fonts/HeliosExtC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosExtLightC";
	font-display: swap;
	src: url("../fonts/HeliosExtLightC.woff2") format("woff2"), url("../fonts/HeliosExtLightC.woff") format("woff"), url("../fonts/HeliosExtLightC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosExtThinC";
	font-display: swap;
	src: url("../fonts/HeliosExtThinC.woff2") format("woff2"), url("../fonts/HeliosExtThinC.woff") format("woff"), url("../fonts/HeliosExtThinC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosExtraCompressedC";
	font-display: swap;
	src: url("../fonts/HeliosExtraCompressedC.woff2") format("woff2"), url("../fonts/HeliosExtraCompressedC.woff") format("woff"), url("../fonts/HeliosExtraCompressedC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosLightC";
	font-display: swap;
	src: url("../fonts/HeliosLightC.woff2") format("woff2"), url("../fonts/HeliosLightC.woff") format("woff"), url("../fonts/HeliosLightC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosThinC";
	font-display: swap;
	src: url("../fonts/HeliosThinC.woff2") format("woff2"), url("../fonts/HeliosThinC.woff") format("woff"), url("../fonts/HeliosThinC.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "HeliosUltraCompressedC";
	font-display: swap;
	src: url("../fonts/HeliosUltraCompressedC.woff2") format("woff2"), url("../fonts/HeliosUltraCompressedC.woff") format("woff"), url("../fonts/HeliosUltraCompressedC.ttf") format("ttf");
	font-weight: 400;
}
