.bottom_module {
    display: flex;
    justify-content: space-between;
    &__l-side {
        flex: 0 0 360px;
        margin-right: 15px;
    }
    &__r-side {
        width: calc(100% - 375px);
    }
}
.isTablet, .isMobile {
    .bottom_module {
        &__l-side {
            display: none;
        }
        &__r-side {
            width: 100%;
        }
    }
}