@import "header/header";
@import "aside_l/aside_l";
@import "main_content/main_content";
@import "aside_r/aside_r";
@import "top_module/top_module";
@import "news_block/news_block";
@import "event_block/event_block";
@import "base_block/base_block";
@import "vacan_block/vacan_block";
@import "ad_block/ad_block";
@import "page_error/page_error";
@import "auth_block/auth_block";
@import "video_block/video_block";
@import "brand_block/brand_block";
@import "video_main/video_main";
@import "lib_main/lib_main";
@import "birth_page/birth_page";
@import "footer/footer";
@import "modals/modals";