.menu_page {
    @media all and (max-width: 1520px) {
        .work_bl {
            &__l-side {
                display: block !important;
                flex: none;
                width: 100%;
            }
            &__menu {
                ul {
                    width: calc(100% + 40px);
                }
                li {
                    padding: 0 20px;
                    a {
                        padding: 20px 0;
                    }
                }
            }
            &__cls {
                margin-top: 19px;
            }
            &__level_2 {
                margin: 0 -20px;
            }
            &__level_3 {
                margin: 0 -20px;
            }
            &__level_4 {
                margin: 0 -20px;
            }
            &__level_5 {
                margin: 0 -20px;
            }
            &__r-side {
                display: none;
            }
        }
    }
}
.work_bl {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    &__l-side {
        flex: 0 0 335px;
        width: 335px;
        border-radius: 0 0 0 10px;
        overflow: hidden;
        @media all and (max-width: 1520px) {
            display: none;
        }
    }
    &__menu {
        ul {
            display: none;
            width: calc(100% + 56px);
        }
        li {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 28px;
            width: 100%;
            a {
                font-family: 'HeliosC', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                color: #F7F7F7;
                text-decoration: none;
                display: block;
                width: calc(100% - 34px);
                padding: 28px 0;
            }
        }
    }
    &__cls {
        margin-top: 27px;
        cursor: pointer;
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00023 5.17266L11.9502 0.222656L13.3642 1.63666L7.00023 8.00066L0.63623 1.63666L2.05023 0.222656L7.00023 5.17266Z' fill='%23E3F3F8'/%3E%3C/svg%3E%0A") 50% no-repeat;
        transition: all .3s ease-out;
        &.isActive {
            transform: rotate(180deg);
        }
    }
    &__level_1 {
        padding: 0;
        margin: 0;
        list-style: none;
        & > li {
            background: #006FAB;
        }
    }
    &__level_2 {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 -28px;
        & > li {
            background: #037DBF;
        }
    }
    &__level_3 {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 -28px;
        & > li {
            background: #0489D0;
        }
    }
    &__level_4 {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 -28px;
        & > li {
            background: #0993DD;
        }
    }
    &__level_5 {
        padding: 0;
        margin: 0;
        list-style: none;
        margin: 0 -28px;
        & > li {
            background: #FFFFFF;
            border-bottom: 1px solid #E8E8E8;
            & > a {
                color: #131313;
                width: 100%;
            }
        }
    }
    &__r-side {
        width: 100%;
    }
    &__t {
        background: #F7FAFB;
        padding: 32px 40px;
    }
    &__title {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: #131313;
        margin-bottom: 12px;
    }
    &__subtitle {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #9797A5;
        text-align: center;
    }
    &__item {
        padding: 28px;
        padding-left: 40px;
        background: #FFFFFF;
        @media all and (max-width: 1520px) {
            padding: 28px;
        }
    }
    &__tit {
        margin-bottom: 24px;
        text-align: center;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #131313;
    }
    &__block {
        border-bottom: 1px solid #E8E8E8;
        &:nth-child(1) {
            border-top: 1px solid #E8E8E8;
        }
    }
    &__top {
        padding-top: 17px;
        padding-bottom: 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #131313;
    }
    &__close {
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #006FAB;
        transition: all .3s ease-out;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.cards_bl {
    display: none;
    padding-bottom: 20px;
    &__info {
        display: flex;
        align-items: flex-start;
    }
    &__l-side {
        flex: 0 0 209px;
        width: 209px;
        height: 209px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 24px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__r-side {
        width: 100%;
    }
    &__work, &__birth, &__about {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 20px 24px;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #131313;
        span {
            display: block;
            margin-bottom: 2px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #9797A5;
        }
    }
    &__about {
        margin-bottom: 0;
    }
    &__mail {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 20px 24px;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #131313;
        display: block;
        text-decoration: none;
        position: relative;
        padding-left: 56px;
        &:before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0H19C19.2652 0 19.5196 0.105357 19.7071 0.292893C19.8946 0.48043 20 0.734784 20 1V17C20 17.2652 19.8946 17.5196 19.7071 17.7071C19.5196 17.8946 19.2652 18 19 18H1C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0ZM18 4.238L10.072 11.338L2 4.216V16H18V4.238ZM2.511 2L10.061 8.662L17.502 2H2.511Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat;
            top: 50%;
            margin-top: -12px;
            left: 26px;
        }
    }
    &__contacts {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tel {
        text-decoration: none;
        display: block;
        position: relative;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #131313;
        padding-left: 32px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.366 8.182C7.30434 9.83048 8.66952 11.1957 10.318 12.134L11.202 10.896C11.3442 10.6969 11.5543 10.5569 11.7928 10.5023C12.0313 10.4478 12.2814 10.4825 12.496 10.6C13.9103 11.3729 15.4722 11.8378 17.079 11.964C17.3298 11.9839 17.5638 12.0975 17.7345 12.2823C17.9052 12.4671 18 12.7094 18 12.961V17.423C18.0001 17.6706 17.9083 17.9094 17.7424 18.0932C17.5765 18.277 17.3483 18.3927 17.102 18.418C16.572 18.473 16.038 18.5 15.5 18.5C6.94 18.5 0 11.56 0 3C0 2.462 0.027 1.928 0.082 1.398C0.107255 1.1517 0.222984 0.923521 0.40679 0.757634C0.590595 0.591747 0.829406 0.499947 1.077 0.5H5.539C5.79056 0.499968 6.0329 0.594752 6.21768 0.765451C6.40247 0.93615 6.51613 1.17022 6.536 1.421C6.66222 3.02779 7.12708 4.58968 7.9 6.004C8.01746 6.21856 8.05221 6.46874 7.99767 6.7072C7.94312 6.94565 7.80306 7.15584 7.604 7.298L6.366 8.182ZM3.844 7.525L5.744 6.168C5.20478 5.00409 4.83535 3.76884 4.647 2.5H2.01C2.004 2.666 2.001 2.833 2.001 3C2 10.456 8.044 16.5 15.5 16.5C15.667 16.5 15.834 16.497 16 16.49V13.853C14.7312 13.6646 13.4959 13.2952 12.332 12.756L10.975 14.656C10.4287 14.4437 9.89801 14.1931 9.387 13.906L9.329 13.873C7.36758 12.7567 5.74328 11.1324 4.627 9.171L4.594 9.113C4.30691 8.60199 4.05628 8.07134 3.844 7.525Z' fill='%23B6B6C6'/%3E%3C/svg%3E%0A") 50% no-repeat;
            margin-top: -12px;
        }
    }
    &__socs {
        display: flex;
    }
    &__soc {
        margin-left: 12px;
        display: block;
        width: 32px;
        height: 32px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bg {
        display: none;
    }
}
.isMobile {
    .work_bl {
        overflow: unset;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        &__t {
            padding: 24px 20px;
        }
        &__title {
            font-size: 26px;
            line-height: 140%;
            margin-bottom: 11px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 150%;  
        }
        &__item {
            padding: 24px 0;
        }
        &__tit {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 140%;
        }
        &__l-side {
            border-radius: 0;
        }
        &__top {
            padding: 16px 20px;
        }
        &__close {
            font-size: 0;
            width: 24px;
            height: 24px;
            background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00023 5.17266L11.9502 0.222656L13.3642 1.63666L7.00023 8.00066L0.63623 1.63666L2.05023 0.222656L7.00023 5.17266Z' fill='%23131313'/%3E%3C/svg%3E%0A") 50% no-repeat;
            &.isActive {
                transform: rotate(180deg);
            }
        }
    }
    .cards_bl {
        padding-bottom: 0;
        &__info {
            flex-direction: column;
        }
        &__l-side {
            position: relative;
            margin: 0;
            max-width: 100%;
            flex: none;
            padding: 12px;
            display: flex;
            align-items: center;
            border-radius: 0;
            justify-content: center;
            width: 100%;
            height: auto;
            img {
                border-radius: 10px;
                position: relative;
                z-index: 5;
            }
        }
        &__img {
            position: relative;
            z-index: 26;
        }
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            bottom: 0;
            width: 100%;
            height: 100%;
            &:before {
                position: absolute;
                z-index: 24;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.6);
            }
            img {
                width: 100%;
                border-radius: 0;
                height: 100%;
                object-fit: cover;
            }
        }
        &__work, &__birth, &__about {
            background: #F7FAFB;
            padding: 16px 20px;
            border: 0;
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 0;
            font-size: 16px;
            border-radius: 0;
            span {
                font-size: 14px;
                margin-bottom: 4px;
            }
        }
        &__mail {
            background: #F7FAFB;
            padding: 16px 20px;
            border: 0;
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 0;
            font-size: 16px;
            border-radius: 0;
            padding-left: 52px;
            &:before {
                left: 22px;
            }
        }
        &__contacts {
            background: #F7FAFB;
            padding: 16px 20px;
            border: 0;
            border-bottom: 1px solid #E8E8E8;
            margin-bottom: 0;
            border-radius: 0;
            flex-wrap: wrap;
        }
        &__tel {
            font-size: 16px;
            margin-top: 2px;
            margin-bottom: 2px;
            &:before {
                left: 2px;
            }
        }
    }
}