@media all and (min-width: 1023px) {
    .auth_page {
        height: 100vh;
        .header {
            margin-bottom: 0;
        }
    }
}
.auth_block {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .checkbox {
        .custom-checkbox {
            cursor: pointer;
            & > input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                &:not(:disabled) {
                    &:not(:checked) {
                        + span {
                            &:hover {
                                &:before {
                                    border-color: #b3d7ff;
                                }
                            }
                        }
                    }
                }
                &:checked {
                    & + span {
                        &:before {
                            background: #0b76ef url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                        }
                    }
                }
            }
            & > span {
                display: inline-flex;
                align-items: center;
                user-select: none;
                font-family: 'HeliosC', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0.01em;
                color: #9797A5;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #006FAB;
                    border-radius: 4px;
                    margin-right: 10px;
                }
            }
        }
    }
    &__l-side {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__r-side {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 70px;
        padding-left: 40px;
    }
    &__in {
        max-width: 490px;
        width: 100%;
    }
    &__title {
        margin: 0;
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        margin-bottom: 12px;
        color: #131313;
    }
    &__tit {
        margin-top: 36px;
        margin-bottom: 12px;
        font-family: 'HeliosC', serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #131313;
    }
    &__form {
        input[type="password"], input[type="email"], input[type="text"] {
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
            height: 56px;
            max-width: 460px;
            width: 100%;
            font-family: 'HeliosC', serif;
            padding: 25px 24px;
            color: #131313;
            margin-bottom: 12px;
            &:focus {
                border: 1px solid #00B0DE;
            }
        }
        input[type="password"] {
            letter-spacing: 8px;
            &::placeholder {
                letter-spacing: normal;
            }
        }
        .checkbox {
            margin-top: 34px;
            margin-bottom: 34px;
        }
    }
    &__buttons {
        padding-top: 32px;
        display: flex;
        align-items: center;
        border-top: 1px solid #E8E8E8;
    }
    &__button {
        border-radius: 10px;
        border: 0;
        &:not(:last-child) {
            margin-right: 16px;
        }
        font-family: 'HeliosC', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        padding: 14px 32px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s ease-out;
        &:nth-child(1) {
            background: #006FAB;
            color: #F7F7F7;
            border: 2px solid #006FAB;
        }
        &:nth-child(2) {
            border: 2px solid #E3F3F8;
            background: #fff;
            color: #006FAB;
        }
        &:hover {
            &:nth-child(1) {
                color: #006FAB;
                background: #F7F7F7;
            }
            &:nth-child(2) {
                background: #006FAB;
                color: #fff;
            }
        }
    }
}
.isTablet, .isMobile {
    .auth_block {
        &__l-side {
            display: none;
        }
        &__r-side {
            padding: 20px;
        }
    }
}